.content {
  border: 5px solid black;
  width: 60%;
  height: 70%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;

  align-items: center;

  background-color: var(--primary-color-light);
  border-radius: var(--border-rad);

  font-size: 2rem;
}

.content h1 {
  margin: 20px;
  font-size: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content input[type="number"] {
  font-size: 2rem;
}

.content input[type="number"]::placeholder {
  text-align: right;
}
