.section-list{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  gap:5px;
  
}

.section{
  display: flex;
  justify-content: center;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 10px;
}

.main-tables{
  display: grid;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 10px;
  width: 90%;
  height: 90%;
}

.card {
  background: rgba(39, 151, 249, 0.58);
  border: 2px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: 600;
  color: black;
}

.card:hover {
  border: 2px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}


.table-content{
  display: flex;
  gap:10px
}

.input-container{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  align-items: flex-end;
  justify-content: center;
  padding: 5px;
}

.id-input-container{
  border: 10px;
  direction: rtl;
}