  body{
    background-color: #f0f0f0;
  }
  
  .box, .section-box {
    width: 10vw;
    height: 10vh;
    background: green;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    font-size: 2em;
  }
.status-open {
  background-color: green;
}
.status-taken {
  background-color: red;
}
.status-billed {
  background-color: orange;
}
.status-locked {
  background-color: blueviolet;
}

.main-box, .section-container{
  display: flex;
  flex-direction: column; /* stack children vertically */
  align-items: center;    /* center horizontally */
  justify-content: center; /* optional: center vertically inside parent */
  width: 50vw;
  height: 50vh;
  background-color: lightgray;
  margin: 0 auto; /* horizontal centering if needed */
  padding: 20px;
  text-align: center; /* center text inside children */
}
.section-container{
  width:50vw;
  height: 20vh;
  margin-top: 10px;
  font-size: 0.5em;
}


.title {
  margin-bottom: 10px; /* space between title and next elements */
}

.parent {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  height: 98.7vh;           /* full viewport height */
  font-size: 3em;
  flex-direction: column;
}


  .section-box{
    background-color: aqua;
  }


  #container, #section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
