* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-self: center;
  align-self: center;
  min-width: 90vw;
  min-height: 90vh;
  align-items: center;
  flex-direction: column;
}

.main img {
  max-width: 300px;
  max-height: 300px;
}

.amount {
  margin-top: 10px;
  height: 5rem;
  font-size: 3rem;
}

.sendRequest {
  margin-top: 10px;
  height: 5rem;
  font-size: 3rem;
}
